assets/_mockKinectNodeRED.txt
[
    {
        "id": "362dbd00.987b9c",
        "type": "ibmiot in",
        "z": "d5823b29.502498",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "appsts",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT App In",
        "service": "registered",
        "allDevices": false,
        "allApplications": false,
        "allDeviceTypes": true,
        "allEvents": true,
        "allCommands": false,
        "allFormats": false,
        "qos": "0",
        "x": 967.0001678466797,
        "y": 139.9999942779541,
        "wires": [
            [
                "49a8d05a.56e718"
            ]
        ]
    },
    {
        "id": "5253ca87.a7b96c",
        "type": "comment",
        "z": "d5823b29.502498",
        "name": "Main Application",
        "info": "",
        "x": 967.0001678466797,
        "y": 99.9999942779541,
        "wires": []
    },
    {
        "id": "8a993cc3.b8dd98",
        "type": "comment",
        "z": "d5823b29.502498",
        "name": "Context Definition",
        "info": "Node RED carga las funciones cuando hacemos el deploy.",
        "x": 1215.8573455810547,
        "y": 96.28569984436035,
        "wires": []
    },
    {
        "id": "49a8d05a.56e718",
        "type": "function",
        "z": "d5823b29.502498",
        "name": "Configure Service Skeleton",
        "func": "\n\n/*********************************** Configuration *************************************/\n//this.context.global.queue = new Queue();\n//node.warn(\"is Queue Empty: \"+this.context.global.queue.getLength()+\" Is initialize \"+this.context.global.queue.isInitialize());\n//this.context.global.queue = new FastPriorityQueue();\n//this.context.global.mutex = new Mutex();\n\n\nthis.context.global.set(\"timeDelay\",1000);\nthis.context.global.set(\"numPackets\",15);\nthis.context.global.set(\"bodyPartSelect\", \"ElbowLeft\");\nthis.context.global.set(\"numDecimals\",3);\nthis.context.global.set(\"numPacketsDebug\",100);\nthis.context.global.set(\"initializeTone\",false);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1253.0715789794922,
        "y": 140.6428165435791,
        "wires": [
            []
        ]
    },
    {
        "id": "87cfc0fe.cb9b2",
        "type": "switch",
        "z": "d5823b29.502498",
        "name": "Hands Parts",
        "property": "id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 525.2381896972656,
        "y": 684.1308679580688,
        "wires": [
            [
                "652ec79.cc6a7b8"
            ],
            [
                "3d47441f.0e4bbc",
                "5acf09c5.82c518",
                "6ea4a30a.9709b4"
            ]
        ]
    },
    {
        "id": "652ec79.cc6a7b8",
        "type": "debug",
        "z": "d5823b29.502498",
        "name": "Message Error Hands",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 899.8093872070312,
        "y": 572.0951805114746,
        "wires": []
    },
    {
        "id": "9b657b32.12dd9",
        "type": "function",
        "z": "d5823b29.502498",
        "name": "Deserializacion Hands Parts",
        "func": "var obj = msg.payload;\n//node.warn(obj);\nvar user = obj.user;\n//node.warn(user);\nvar size = user.length;\n\nif (user) {\n    \n    for (var i = 0; i < size; i++)\n    { \n        var user = user[i];\n        \n        if(user == undefined)\n            continue;\n\n        user.userId = i + 1;\n\n        node.send(user);\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 185.22623443603516,
        "y": 682.7855825424194,
        "wires": [
            [
                "87cfc0fe.cb9b2"
            ]
        ]
    },
    {
        "id": "43a23bb3.441394",
        "type": "comment",
        "z": "d5823b29.502498",
        "name": "*******    Profile    *******",
        "info": "",
        "x": 837.4286117553711,
        "y": 261.14281463623047,
        "wires": []
    },
    {
        "id": "11429bf0.1a0384",
        "type": "comment",
        "z": "d5823b29.502498",
        "name": "*******    Hands    *******",
        "info": "",
        "x": 889.8094749450684,
        "y": 528.857011795044,
        "wires": []
    },
    {
        "id": "f5685833.aef07",
        "type": "comment",
        "z": "d5823b29.502498",
        "name": "*******    Validation    *******",
        "info": "",
        "x": 529.8810043334961,
        "y": 574.9998397827148,
        "wires": []
    },
    {
        "id": "569c26ba.f498c",
        "type": "comment",
        "z": "d5823b29.502498",
        "name": "******* Deserializacion ********",
        "info": "",
        "x": 208.44053649902344,
        "y": 586.6547125577927,
        "wires": []
    },
    {
        "id": "7c9409d7.8489c",
        "type": "inject",
        "z": "d5823b29.502498",
        "name": "Inject ",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "20",
        "crontab": "",
        "once": true,
        "x": 132.47624969482422,
        "y": 159.7500605583191,
        "wires": [
            [
                "2bf24027.43806"
            ]
        ]
    },
    {
        "id": "808db435.693ac8",
        "type": "function",
        "z": "d5823b29.502498",
        "name": "Filter Data",
        "func": "function loadPacket(id, dataJson, delay){\n    \n    var timer = setInterval(function() {\n        clearInterval(timer);\n        node.send(dataJson);\n        \n    },id * delay);\n}\n\nfunction mainFilterData(){\n\n    var timer = context.global.get(\"timeDelay\");\n\n    var size = msg.payload.d.cloudant.total_rows;\n    var rows = msg.payload.d.cloudant.rows;\n\n    for (var i = 0; i < size; i++)\n    { \n        if(!rows[i] || !rows[i].doc || !rows[i].doc.data)\n            continue;\n        \n        var key = rows[i].key;\n        var indexPacket = key.substring(7);\n        var data = rows[i].doc.data;\n        loadPacket(indexPacket,data,timer);\n        \n    }\n    \n    return null;\n}\n\n\nreturn mainFilterData();",
        "outputs": 1,
        "noerr": 0,
        "x": 305.7142639160156,
        "y": 396.6666650772095,
        "wires": [
            [
                "e9941a8b.d0efc"
            ]
        ]
    },
    {
        "id": "e9941a8b.d0efc",
        "type": "switch",
        "z": "d5823b29.502498",
        "name": "packet",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 487.7142639160156,
        "y": 400.6666650772095,
        "wires": [
            [
                "71d9aa6a.7a93c4"
            ],
            [
                "9b657b32.12dd9",
                "66c29d0d.012114",
                "84861cd2.29e0e8",
                "cc6873a0.48dcc8"
            ]
        ]
    },
    {
        "id": "90af4f12.369b68",
        "type": "debug",
        "z": "d5823b29.502498",
        "name": "message Error Body Parts",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1244.6666717529297,
        "y": 764.6664981842041,
        "wires": []
    },
    {
        "id": "84861cd2.29e0e8",
        "type": "function",
        "z": "d5823b29.502498",
        "name": "Deserializacion Body Parts",
        "func": "function toDecimal(input, decimals){\n    var res =  parseFloat(Math.round(input * 100) / 100).toFixed(decimals);\n    return res;\n}\n\nfunction mainDeserializacionBodyParts() {\n    \n    var user =  msg.payload.user[0];\n    var numDecimals = this.context.global.get(\"numDecimals\");\n\n    var bodypart = context.global.get(\"bodyPartSelect\");\n\n    var body = user.bodyParts;\n    var item = null;\n    if(body){\n         body.forEach( \n              function(p){ \n                  //node.warn(p.name);\n                  if(p.name == bodypart) {\n                      \n                      p.positions[0].x = toDecimal(p.positions[0].x, numDecimals);\n                      p.positions[0].y = toDecimal(p.positions[0].y, numDecimals);\n                      p.positions[0].z = toDecimal(p.positions[0].z, numDecimals);\n\n                      item = p;\n                      node.send(item);\n                      return null;\n                  }\n              }\n          );\n    }\n}\n\n\nmainDeserializacionBodyParts();\n",
        "outputs": 1,
        "noerr": 0,
        "x": 195.63077545166016,
        "y": 825.1665296554565,
        "wires": [
            [
                "4e460fb8.35f018"
            ]
        ],
        "outputLabels": [
            "string"
        ]
    },
    {
        "id": "4e460fb8.35f018",
        "type": "switch",
        "z": "d5823b29.502498",
        "name": "Body Parts",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "outputs": 2,
        "x": 528.7143211364746,
        "y": 837.2022142410278,
        "wires": [
            [
                "90af4f12.369b68"
            ],
            [
                "5bbafb8a.67417c",
                "f8102269.34aa38",
                "5f7e4d2f.cc91ec",
                "5d075433.663e44",
                "1c498b0f.9dbd35",
                "a07d5f9b.806a4"
            ]
        ]
    },
    {
        "id": "9276c225.fba7b8",
        "type": "comment",
        "z": "d5823b29.502498",
        "name": "*******    Body Parts    *******",
        "info": "",
        "x": 1254.2024230957031,
        "y": 697.6426610946655,
        "wires": []
    },
    {
        "id": "e9ee6315.7bf16",
        "type": "comment",
        "z": "d5823b29.502498",
        "name": "Entry Point",
        "info": "",
        "x": 127.71429824829102,
        "y": 99.00006055831909,
        "wires": []
    },
    {
        "id": "66c29d0d.012114",
        "type": "ui_text",
        "z": "d5823b29.502498",
        "group": "b682fec9.95d9",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Profile",
        "format": "",
        "layout": "row-center",
        "x": 785.2855529785156,
        "y": 406.2023096084595,
        "wires": []
    },
    {
        "id": "3d47441f.0e4bbc",
        "type": "ui_text",
        "z": "d5823b29.502498",
        "group": "b682fec9.95d9",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "leftHandState",
        "label": "Left",
        "format": "{{msg.leftHandState}}",
        "layout": "row-spread",
        "x": 883.5236854553223,
        "y": 710.7735891342163,
        "wires": []
    },
    {
        "id": "5acf09c5.82c518",
        "type": "ui_text",
        "z": "d5823b29.502498",
        "group": "b682fec9.95d9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "rightHandState",
        "label": "Right",
        "format": "{{msg.rightHandState}}",
        "layout": "row-spread",
        "x": 883.9522399902344,
        "y": 661.2021818161011,
        "wires": []
    },
    {
        "id": "6ea4a30a.9709b4",
        "type": "ui_text",
        "z": "d5823b29.502498",
        "group": "b682fec9.95d9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "State",
        "format": "",
        "layout": "row-center",
        "x": 858.3809127807617,
        "y": 615.5238046646118,
        "wires": []
    },
    {
        "id": "5bbafb8a.67417c",
        "type": "ui_text",
        "z": "d5823b29.502498",
        "group": "b682fec9.95d9",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "x",
        "label": "x",
        "format": "{{msg.positions[0].x}}",
        "layout": "row-spread",
        "x": 1242.5595245361328,
        "y": 819.5236530303955,
        "wires": []
    },
    {
        "id": "f8102269.34aa38",
        "type": "ui_text",
        "z": "d5823b29.502498",
        "group": "b682fec9.95d9",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "z",
        "label": "z",
        "format": "{{msg.positions[0].z}}",
        "layout": "row-spread",
        "x": 1241.5595245361328,
        "y": 896.5236530303955,
        "wires": []
    },
    {
        "id": "5f7e4d2f.cc91ec",
        "type": "ui_text",
        "z": "d5823b29.502498",
        "group": "b682fec9.95d9",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "y",
        "label": "y",
        "format": "{{msg.positions[0].y}}",
        "layout": "row-spread",
        "x": 1241.5595245361328,
        "y": 858.5236530303955,
        "wires": []
    },
    {
        "id": "5d075433.663e44",
        "type": "ui_text",
        "z": "d5823b29.502498",
        "group": "b682fec9.95d9",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Body    ",
        "format": "Elbow Left",
        "layout": "col-center",
        "x": 1229.5237998962402,
        "y": 952.3808035850525,
        "wires": []
    },
    {
        "id": "1c498b0f.9dbd35",
        "type": "ui_text",
        "z": "d5823b29.502498",
        "group": "b682fec9.95d9",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "isPresent",
        "format": "{{msg.isPresent}}",
        "layout": "row-spread",
        "x": 1253.0595169067383,
        "y": 1002.0236530303955,
        "wires": []
    },
    {
        "id": "a07d5f9b.806a4",
        "type": "ui_text",
        "z": "d5823b29.502498",
        "group": "b682fec9.95d9",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "isTracked",
        "label": "isTracked",
        "format": "{{msg.isTracked}}",
        "layout": "row-spread",
        "x": 1258.3453216552734,
        "y": 1052.0236139297485,
        "wires": []
    },
    {
        "id": "cc6873a0.48dcc8",
        "type": "ui_text",
        "z": "d5823b29.502498",
        "group": "b682fec9.95d9",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "Packet ID",
        "label": "Packet ID",
        "format": "{{msg.payload.packetID}}",
        "layout": "row-spread",
        "x": 798.8568954467773,
        "y": 455.4879837036133,
        "wires": []
    },
    {
        "id": "2bf24027.43806",
        "type": "function",
        "z": "d5823b29.502498",
        "name": "Mock All Documents",
        "func": "// Create MQTT message in JSON\nmsg =   {\n           payload: JSON.stringify( \n                {\n                  d:{\n                        cloudant :\n                                    {\n                                       total_rows:26,\n                                        offset:0,\n                                        rows:[  \n                                                {\"id\":\"kinect-0\",\"key\":\"kinect-0\",\"value\":{\"rev\":\"5-35d55b07948742a39fbcdc0ed45f49c7\"},\"doc\":{\"_id\":\"kinect-0\",\"_rev\":\"5-35d55b07948742a39fbcdc0ed45f49c7\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":239,\"user\":[{\"id\":72057594038027980,\"leftHandState\":\"Unknown\",\"rightHandState\":\"Unknown\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.490511,\"y\":-0.6387619,\"z\":1.86808622}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.4242793,\"y\":-0.382609159,\"z\":1.73425579}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.353031456,\"y\":-0.129432023,\"z\":1.58501756}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.289525837,\"y\":0.0423966832,\"z\":1.55987978}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.50488013,\"y\":-0.196150392,\"z\":1.60483062}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.6672887,\"y\":-0.328041822,\"z\":1.72929668}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.823926151,\"y\":-0.35757336,\"z\":1.62214422}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.823318243,\"y\":-0.352589577,\"z\":1.60796762}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.185080484,\"y\":-0.249124318,\"z\":1.66631281}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.177091092,\"y\":-0.472809672,\"z\":1.73879838}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.282197744,\"y\":-0.57390976,\"z\":1.58964825}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.268294126,\"y\":-0.6047104,\"z\":1.54631436}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.5569258,\"y\":-0.6113477,\"z\":1.82627511}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.402834773,\"y\":-0.6258499,\"z\":1.44368875}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.6464724,\"y\":-0.770106554,\"z\":1.71896124}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.7029424,\"y\":-0.8627277,\"z\":1.671349}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.40737164,\"y\":-0.6449812,\"z\":1.84481108}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.129326984,\"y\":-0.5946249,\"z\":1.41303515}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.5022955,\"y\":-0.759569764,\"z\":1.477728}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.5367118,\"y\":-0.822049141,\"z\":1.359393}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.371245444,\"y\":-0.192055419,\"z\":1.624801}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.853663743,\"y\":-0.3676085,\"z\":1.54146123}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.8829349,\"y\":-0.4296527,\"z\":1.6368835}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.221538886,\"y\":-0.6451385,\"z\":1.47036934}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.209496379,\"y\":-0.569419444,\"z\":1.52452946}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"e229dfb6.7c01b\"}}},\n                                                {\"id\":\"kinect-1\",\"key\":\"kinect-1\",\"value\":{\"rev\":\"2-c262e89ab3747e4a083bfbe6b1130f66\"},\"doc\":{\"_id\":\"kinect-1\",\"_rev\":\"2-c262e89ab3747e4a083bfbe6b1130f66\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":243,\"user\":[{\"id\":72057594038027980,\"leftHandState\":\"Unknown\",\"rightHandState\":\"Unknown\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.490389556,\"y\":-0.6270449,\"z\":1.847148}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.4214119,\"y\":-0.373918563,\"z\":1.71162784}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.349463224,\"y\":-0.123111688,\"z\":1.56272554}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.2947563,\"y\":0.0563191734,\"z\":1.52883327}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.5031627,\"y\":-0.190441042,\"z\":1.59115887}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.661633,\"y\":-0.324979037,\"z\":1.7176975}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.82178086,\"y\":-0.3585695,\"z\":1.61806}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.818113267,\"y\":-0.350792766,\"z\":1.60440421}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.175044447,\"y\":-0.2338442,\"z\":1.61752093}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.159597754,\"y\":-0.463262141,\"z\":1.68749833}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.135646686,\"y\":-0.5625639,\"z\":1.44342065}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.138893545,\"y\":-0.6186429,\"z\":1.35453153}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.554789543,\"y\":-0.601416945,\"z\":1.80448425}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.388814032,\"y\":-0.6113609,\"z\":1.410614}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.6500491,\"y\":-0.7674893,\"z\":1.71805418}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.711376,\"y\":-0.8558354,\"z\":1.66564512}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.409446,\"y\":-0.631626666,\"z\":1.82727814}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.12651059,\"y\":-0.5871728,\"z\":1.3721664}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.51487565,\"y\":-0.7489483,\"z\":1.47053385}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.558600247,\"y\":-0.8090731,\"z\":1.3553673}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.3679039,\"y\":-0.185345352,\"z\":1.6023432}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.8513951,\"y\":-0.361640662,\"z\":1.54040587}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.8756708,\"y\":-0.337257862,\"z\":1.66383338}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.111235805,\"y\":-0.6595094,\"z\":1.29698253}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.09540786,\"y\":-0.5728669,\"z\":1.34441161}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"92cb3b35.861fe8\"}}},\n                                                {\"id\":\"kinect-10\",\"key\":\"kinect-10\",\"value\":{\"rev\":\"2-e338c25222d1bb456ef732f8bbabec9f\"},\"doc\":{\"_id\":\"kinect-10\",\"_rev\":\"2-e338c25222d1bb456ef732f8bbabec9f\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":1350,\"user\":[{\"id\":72057594038029380,\"leftHandState\":\"Closed\",\"rightHandState\":\"Closed\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0845203,\"y\":-0.6101197,\"z\":1.85372043}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.07374566,\"y\":-0.3265782,\"z\":1.877498}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.06260388,\"y\":-0.04979654,\"z\":1.88668871}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.07754882,\"y\":0.124649107,\"z\":1.92020214}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.256790876,\"y\":-0.177021489,\"z\":1.84540129}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.463362455,\"y\":-0.19361411,\"z\":1.72606158}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.41835314,\"y\":0.0419198,\"z\":1.62328207}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.404962957,\"y\":0.0945918,\"z\":1.61518288}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.145468786,\"y\":-0.173139349,\"z\":1.89476442}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.367417425,\"y\":-0.156474978,\"z\":1.85110438}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.385989338,\"y\":0.0621460639,\"z\":1.7892009}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.37882024,\"y\":0.1383677,\"z\":1.80094278}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.168074012,\"y\":-0.5958012,\"z\":1.81570125}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.114361353,\"y\":-0.6037564,\"z\":1.42859638}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.130173162,\"y\":-0.986793339,\"z\":1.27825451}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.116421893,\"y\":-0.992910862,\"z\":1.129766}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.00213429471,\"y\":-0.601855338,\"z\":1.82342875}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.152383924,\"y\":-0.5954665,\"z\":1.48012519}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.0347338133,\"y\":-0.9360537,\"z\":1.26804936}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.0332589149,\"y\":-0.93379426,\"z\":1.11684918}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.06545665,\"y\":-0.118073165,\"z\":1.88687849}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.356057942,\"y\":0.162412718,\"z\":1.59895635}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.378823936,\"y\":0.07447942,\"z\":1.58251154}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.3756906,\"y\":0.216808841,\"z\":1.81684709}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.4179974,\"y\":0.174304038,\"z\":1.79851139}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"e812a37d.59006\"}}},\n                                                {\"id\":\"kinect-11\",\"key\":\"kinect-11\",\"value\":{\"rev\":\"2-f29104bdf13d2ba16abb6830f6b1acf5\"},\"doc\":{\"_id\":\"kinect-11\",\"_rev\":\"2-f29104bdf13d2ba16abb6830f6b1acf5\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":1365,\"user\":[{\"id\":72057594038029380,\"leftHandState\":\"Closed\",\"rightHandState\":\"Open\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.08370693,\"y\":-0.6097062,\"z\":1.85428739}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.07172,\"y\":-0.3264726,\"z\":1.87881148}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0587689057,\"y\":-0.05027751,\"z\":1.88903463}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0683131,\"y\":0.124809042,\"z\":1.92396474}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.255215883,\"y\":-0.176156923,\"z\":1.84934628}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.463878125,\"y\":-0.191448256,\"z\":1.72987735}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.418909252,\"y\":0.0425336324,\"z\":1.62798834}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.402414262,\"y\":0.0966624245,\"z\":1.61803865}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.147178784,\"y\":-0.175323382,\"z\":1.89548457}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.3681451,\"y\":-0.159045041,\"z\":1.85223567}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.3878091,\"y\":0.05976377,\"z\":1.79110754}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.383384645,\"y\":0.135307163,\"z\":1.80591476}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.1672483,\"y\":-0.5952048,\"z\":1.816255}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.114330895,\"y\":-0.603499532,\"z\":1.42860067}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.130477086,\"y\":-0.9856615,\"z\":1.27599919}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.11748533,\"y\":-0.9911054,\"z\":1.12739861}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.00293354876,\"y\":-0.6016794,\"z\":1.82391071}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.151649624,\"y\":-0.5963378,\"z\":1.48018122}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.03242455,\"y\":-0.9367223,\"z\":1.26842761}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.0300867576,\"y\":-0.9341377,\"z\":1.11728776}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0620948859,\"y\":-0.118402049,\"z\":1.88895559}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.352755934,\"y\":0.166450784,\"z\":1.60097528}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.371143281,\"y\":0.08363797,\"z\":1.58781159}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.383698672,\"y\":0.2126906,\"z\":1.82599235}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.4211341,\"y\":0.158437058,\"z\":1.7975353}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"b6598693.a58158\"}}},\n                                                {\"id\":\"kinect-12\",\"key\":\"kinect-12\",\"value\":{\"rev\":\"2-9b90d97bf8e332ad235d1287ae4dce4a\"},\"doc\":{\"_id\":\"kinect-12\",\"_rev\":\"2-9b90d97bf8e332ad235d1287ae4dce4a\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":1380,\"user\":[{\"id\":72057594038029380,\"leftHandState\":\"Closed\",\"rightHandState\":\"Open\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0591099,\"y\":-0.6134517,\"z\":1.85725594}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.008941822,\"y\":-0.3373753,\"z\":1.8801589}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.0465996154,\"y\":-0.0683702752,\"z\":1.88557589}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.101221018,\"y\":0.111011691,\"z\":1.91690063}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.14318192,\"y\":-0.150170088,\"z\":1.8489778}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.3665468,\"y\":-0.0985353,\"z\":1.74075842}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.329643,\"y\":0.08419569,\"z\":1.63461721}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.305368662,\"y\":0.12782827,\"z\":1.62554884}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.23594135,\"y\":-0.225488514,\"z\":1.88910949}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.4395339,\"y\":-0.255591035,\"z\":1.85469556}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.5074471,\"y\":-0.0601201467,\"z\":1.79485738}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.526445746,\"y\":0.03304567,\"z\":1.80248892}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.142027736,\"y\":-0.5879111,\"z\":1.81871307}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.122051738,\"y\":-0.5994085,\"z\":1.42819881}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.159126729,\"y\":-0.9818881,\"z\":1.28056669}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.145483732,\"y\":-0.9903009,\"z\":1.13269424}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.02739847,\"y\":-0.6167405,\"z\":1.82777429}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.141618937,\"y\":-0.5933995,\"z\":1.45004821}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.0277547017,\"y\":-0.9460684,\"z\":1.27248049}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.0291980114,\"y\":-0.948706269,\"z\":1.12241268}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.0324794352,\"y\":-0.134754688,\"z\":1.88691783}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.248506948,\"y\":0.195886433,\"z\":1.59791064}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.28460148,\"y\":0.101737812,\"z\":1.59547985}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.536457062,\"y\":0.110356659,\"z\":1.8033514}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.5645728,\"y\":0.0402564965,\"z\":1.81135285}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"a605c10d.53b37\"}}},\n                                                {\"id\":\"kinect-13\",\"key\":\"kinect-13\",\"value\":{\"rev\":\"2-45647bf90e64625ef06c102d41eccbf5\"},\"doc\":{\"_id\":\"kinect-13\",\"_rev\":\"2-45647bf90e64625ef06c102d41eccbf5\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":1395,\"user\":[{\"id\":72057594038029380,\"leftHandState\":\"Closed\",\"rightHandState\":\"Unknown\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0367488451,\"y\":-0.6169028,\"z\":1.84169948}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.05207044,\"y\":-0.348528624,\"z\":1.86307847}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.139635459,\"y\":-0.0872267,\"z\":1.86955118}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.245704368,\"y\":0.0770830661,\"z\":1.9065243}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.06363617,\"y\":-0.152476475,\"z\":1.8331598}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.281780481,\"y\":-0.05776939,\"z\":1.72253621}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.225566164,\"y\":0.11479257,\"z\":1.61387253}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.2020147,\"y\":0.14918834,\"z\":1.60354459}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.298709244,\"y\":-0.270936072,\"z\":1.87455177}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.4841715,\"y\":-0.3468834,\"z\":1.852252}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.6031877,\"y\":-0.186771274,\"z\":1.79682791}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.648955643,\"y\":-0.08560042,\"z\":1.80038786}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.118130788,\"y\":-0.577389657,\"z\":1.80784678}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.116498426,\"y\":-0.5952196,\"z\":1.42777276}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.1588409,\"y\":-0.975551248,\"z\":1.26124918}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.143372357,\"y\":-0.9842701,\"z\":1.1137253}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.045894634,\"y\":-0.634521246,\"z\":1.806613}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.11514587,\"y\":-0.582798243,\"z\":1.38806665}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.0229942426,\"y\":-0.940360248,\"z\":1.26257908}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.0206858367,\"y\":-0.9474733,\"z\":1.11346626}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.118131071,\"y\":-0.151677,\"z\":1.87044621}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.148142934,\"y\":0.208323061,\"z\":1.58436489}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.159727335,\"y\":0.148202285,\"z\":1.569865}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.678276062,\"y\":-0.0255419984,\"z\":1.7968843}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.6940254,\"y\":-0.09607942,\"z\":1.81046665}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"c8b64c6c.78982\"}}},\n                                                {\"id\":\"kinect-14\",\"key\":\"kinect-14\",\"value\":{\"rev\":\"2-fbb414f7308ea954848604ae9f5e6982\"},\"doc\":{\"_id\":\"kinect-14\",\"_rev\":\"2-fbb414f7308ea954848604ae9f5e6982\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":1410,\"user\":[{\"id\":72057594038029380,\"leftHandState\":\"Closed\",\"rightHandState\":\"Closed\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0410005376,\"y\":-0.6134838,\"z\":1.84071994}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.06344622,\"y\":-0.348693043,\"z\":1.86024439}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.167118475,\"y\":-0.09107037,\"z\":1.864003}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.2789811,\"y\":0.0689535141,\"z\":1.89967227}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.03247263,\"y\":-0.1444042,\"z\":1.83092737}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.24874112,\"y\":-0.0471210219,\"z\":1.713445}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.191832617,\"y\":0.117231905,\"z\":1.60647225}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.1722828,\"y\":0.151242331,\"z\":1.60085166}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.319205672,\"y\":-0.299016565,\"z\":1.86075842}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.5016455,\"y\":-0.368253052,\"z\":1.844776}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.6229139,\"y\":-0.203712374,\"z\":1.78394973}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.6623338,\"y\":-0.09323793,\"z\":1.78069365}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.1182705,\"y\":-0.5660454,\"z\":1.80930948}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.112487771,\"y\":-0.59357506,\"z\":1.42980945}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.219583973,\"y\":-0.963189065,\"z\":1.2704879}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.212336436,\"y\":-0.9729077,\"z\":1.1224705}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.037318714,\"y\":-0.6378807,\"z\":1.80381536}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.150487944,\"y\":-0.6002405,\"z\":1.43944991}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.0450175628,\"y\":-0.918274,\"z\":1.2669071}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.0515838936,\"y\":-0.921996653,\"z\":1.11694384}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.141534925,\"y\":-0.154701874,\"z\":1.86559546}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.11656978,\"y\":0.207880735,\"z\":1.58118331}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.136932582,\"y\":0.142413884,\"z\":1.564637}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.6909519,\"y\":-0.02834407,\"z\":1.77723038}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.7037999,\"y\":-0.102517411,\"z\":1.78725}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"eb04ff68.7ba9b\"}}},\n                                                {\"id\":\"kinect-15\",\"key\":\"kinect-15\",\"value\":{\"rev\":\"2-0c973d98f9ac51dcef9858298a6098cf\"},\"doc\":{\"_id\":\"kinect-15\",\"_rev\":\"2-0c973d98f9ac51dcef9858298a6098cf\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":1425,\"user\":[{\"id\":72057594038029380,\"leftHandState\":\"Closed\",\"rightHandState\":\"Closed\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0355673134,\"y\":-0.6121858,\"z\":1.84003973}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.0634019449,\"y\":-0.347736865,\"z\":1.86084509}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.158549875,\"y\":-0.08946008,\"z\":1.86694515}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.2689462,\"y\":0.07309876,\"z\":1.90242755}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0427077264,\"y\":-0.150176048,\"z\":1.83226228}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.255898267,\"y\":-0.0539505966,\"z\":1.72035372}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.2030808,\"y\":0.110800833,\"z\":1.61178374}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.191928744,\"y\":0.141877159,\"z\":1.60384178}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.314325,\"y\":-0.2889335,\"z\":1.86462784}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.5214593,\"y\":-0.36573118,\"z\":1.8534801}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.609878063,\"y\":-0.154772937,\"z\":1.79747248}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.617299438,\"y\":-0.07811781,\"z\":1.79125416}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.113343,\"y\":-0.5662306,\"z\":1.80920053}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.112377092,\"y\":-0.5931784,\"z\":1.42970884}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.201840475,\"y\":-0.9650908,\"z\":1.26503658}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.1924525,\"y\":-0.9735391,\"z\":1.11683154}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.0438209,\"y\":-0.635286748,\"z\":1.8025105}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.150342137,\"y\":-0.5991543,\"z\":1.44731045}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.0436604545,\"y\":-0.9154976,\"z\":1.26576221}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.05027682,\"y\":-0.9185161,\"z\":1.11563456}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.13525857,\"y\":-0.1532069,\"z\":1.86790955}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.134935588,\"y\":0.1965171,\"z\":1.58056}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.156905487,\"y\":0.127493024,\"z\":1.57400012}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.612098157,\"y\":0.000420633267,\"z\":1.790035}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.5697225,\"y\":-0.03485551,\"z\":1.8196}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"731e68ba.bf5ba8\"}}},\n                                                {\"id\":\"kinect-16\",\"key\":\"kinect-16\",\"value\":{\"rev\":\"2-670e10de1e58e6998c48d6b3f914736a\"},\"doc\":{\"_id\":\"kinect-16\",\"_rev\":\"2-670e10de1e58e6998c48d6b3f914736a\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":1470,\"user\":[{\"id\":72057594038029380,\"leftHandState\":\"Closed\",\"rightHandState\":\"Closed\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.009113315,\"y\":-0.6069118,\"z\":1.84111786}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.0714552253,\"y\":-0.343060642,\"z\":1.86090314}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.149238065,\"y\":-0.0863824561,\"z\":1.86651993}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.229164317,\"y\":0.0890120938,\"z\":1.90684855}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0304054767,\"y\":-0.149581149,\"z\":1.837048}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.27960825,\"y\":-0.08602075,\"z\":1.73892283}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.24830462,\"y\":0.08768496,\"z\":1.62148559}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.230419546,\"y\":0.124569371,\"z\":1.61322653}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.3134141,\"y\":-0.24701798,\"z\":1.86926174}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.5404363,\"y\":-0.271985054,\"z\":1.87933755}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.5594606,\"y\":-0.0468700975,\"z\":1.77673078}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.5577616,\"y\":0.0241822414,\"z\":1.7637049}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.09041131,\"y\":-0.5698256,\"z\":1.80773318}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.114434376,\"y\":-0.59253,\"z\":1.42669654}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.134265289,\"y\":-0.971021056,\"z\":1.25875044}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.119106352,\"y\":-0.977753758,\"z\":1.110926}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.07253928,\"y\":-0.6215346,\"z\":1.8059963}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.144541055,\"y\":-0.5969364,\"z\":1.44911468}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.01977354,\"y\":-0.9337771,\"z\":1.26798558}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.02453294,\"y\":-0.9384661,\"z\":1.11851215}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.130069956,\"y\":-0.149686933,\"z\":1.867622}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.182539225,\"y\":0.18404898,\"z\":1.59051967}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.191434056,\"y\":0.11979381,\"z\":1.57617867}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.5224972,\"y\":0.0969728753,\"z\":1.74890077}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.498752773,\"y\":0.04714395,\"z\":1.77799129}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"dc60ab80.874688\"}}},\n                                                {\"id\":\"kinect-17\",\"key\":\"kinect-17\",\"value\":{\"rev\":\"2-de634617aaa5927cd70cbdaccb9ed01f\"},\"doc\":{\"_id\":\"kinect-17\",\"_rev\":\"2-de634617aaa5927cd70cbdaccb9ed01f\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":1500,\"user\":[{\"id\":72057594038029380,\"leftHandState\":\"Open\",\"rightHandState\":\"Closed\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.006675413,\"y\":-0.6098605,\"z\":1.83929849}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.07547551,\"y\":-0.346139818,\"z\":1.86207831}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.155260056,\"y\":-0.08929079,\"z\":1.86958373}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.2409282,\"y\":0.08262016,\"z\":1.90875208}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.03182072,\"y\":-0.151598454,\"z\":1.8406893}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.273670673,\"y\":-0.07553885,\"z\":1.73703265}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.218936369,\"y\":0.122682147,\"z\":1.6328125}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.202956676,\"y\":0.173675746,\"z\":1.64309466}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.315911561,\"y\":-0.255075216,\"z\":1.86765254}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.545705259,\"y\":-0.275785446,\"z\":1.86924255}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.5637432,\"y\":-0.0494794063,\"z\":1.77382421}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.5600433,\"y\":0.0214417335,\"z\":1.75902}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.08823549,\"y\":-0.5714211,\"z\":1.80663657}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.115820713,\"y\":-0.5914403,\"z\":1.42739272}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.1337647,\"y\":-0.966048,\"z\":1.24892271}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.119534738,\"y\":-0.9703871,\"z\":1.10065222}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.07511229,\"y\":-0.625582933,\"z\":1.80342865}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.0962654948,\"y\":-0.582022965,\"z\":1.39830983}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.038320154,\"y\":-0.9388117,\"z\":1.26496422}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.03966237,\"y\":-0.9447028,\"z\":1.11590719}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.13561368,\"y\":-0.152577028,\"z\":1.87025309}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.16264765,\"y\":0.247802228,\"z\":1.6504544}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.132158041,\"y\":0.133467451,\"z\":1.57286668}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.528268158,\"y\":0.09133649,\"z\":1.741372}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.5025355,\"y\":0.0424412973,\"z\":1.77679443}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"568f232f.ea8c3c\"}}},\n                                                {\"id\":\"kinect-18\",\"key\":\"kinect-18\",\"value\":{\"rev\":\"2-36dfb6fe13fa1ea5b93e0e3a5c6c8d8a\"},\"doc\":{\"_id\":\"kinect-18\",\"_rev\":\"2-36dfb6fe13fa1ea5b93e0e3a5c6c8d8a\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":1605,\"user\":[{\"id\":72057594038029380,\"leftHandState\":\"Open\",\"rightHandState\":\"Unknown\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.0573735051,\"y\":-0.5751861,\"z\":1.72645569}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.07170311,\"y\":-0.296241134,\"z\":1.73471832}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.0854105055,\"y\":-0.0241447017,\"z\":1.72573709}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.09681789,\"y\":0.1531881,\"z\":1.74794793}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.118437335,\"y\":-0.118742615,\"z\":1.719592}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.384639263,\"y\":-0.07971087,\"z\":1.70126355}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.6374435,\"y\":-0.0267691985,\"z\":1.7049197}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.693765163,\"y\":-0.00430807751,\"z\":1.71739793}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.294314921,\"y\":-0.143519908,\"z\":1.74600852}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.5352089,\"y\":-0.1494185,\"z\":1.75243747}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.767948151,\"y\":-0.109163173,\"z\":1.76904643}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.8545595,\"y\":-0.07676396,\"z\":1.79112267}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0270394646,\"y\":-0.557945,\"z\":1.68995893}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.03581047,\"y\":-0.586172044,\"z\":1.33134317}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.048329547,\"y\":-0.6374574,\"z\":0.884756744}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.040185295,\"y\":-0.6092184,\"z\":0.7329185}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.139534444,\"y\":-0.569530964,\"z\":1.69439423}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.252565831,\"y\":-0.546130955,\"z\":1.32188475}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.147078469,\"y\":-0.912259638,\"z\":1.175498}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.1397972,\"y\":-0.9204196,\"z\":1.027742}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.08214334,\"y\":-0.0913535058,\"z\":1.73067534}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.7667894,\"y\":0.002255316,\"z\":1.74520373}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.709461868,\"y\":-0.077198,\"z\":1.72400022}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.9307548,\"y\":-0.04661877,\"z\":1.81103635}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.8453944,\"y\":-0.009911837,\"z\":1.7337693}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"c7192b69.11b2e8\"}}},\n                                                {\"id\":\"kinect-19\",\"key\":\"kinect-19\",\"value\":{\"rev\":\"3-0ebdf455645878d898ff82e70d9b2df9\"},\"doc\":{\"_id\":\"kinect-19\",\"_rev\":\"3-0ebdf455645878d898ff82e70d9b2df9\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":1695,\"user\":[{\"id\":72057594038029380,\"leftHandState\":\"Closed\",\"rightHandState\":\"Closed\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.0761422962,\"y\":-0.563464761,\"z\":1.67710268}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.0848362,\"y\":-0.285744369,\"z\":1.6879245}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.09227681,\"y\":-0.0158233233,\"z\":1.68460143}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.0889107138,\"y\":0.167140737,\"z\":1.70015383}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.113978326,\"y\":-0.112608358,\"z\":1.67974484}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.3813612,\"y\":-0.0846717358,\"z\":1.64798427}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.590697646,\"y\":-0.04004464,\"z\":1.61919558}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.6358456,\"y\":-0.03068071,\"z\":1.60461569}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.306609243,\"y\":-0.118238747,\"z\":1.685688}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.555680335,\"y\":-0.103702463,\"z\":1.67859924}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.7549961,\"y\":-0.04616931,\"z\":1.67017174}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.8141967,\"y\":-0.0141876936,\"z\":1.66099346}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.008335916,\"y\":-0.5491662,\"z\":1.64353788}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.00362849957,\"y\":-0.554403245,\"z\":1.25528181}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.00171110884,\"y\":-0.571556449,\"z\":0.834079742}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.00374851213,\"y\":-0.5401096,\"z\":0.6818827}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.1574915,\"y\":-0.5551364,\"z\":1.64181709}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.231277391,\"y\":-0.5254137,\"z\":1.24655163}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.148423851,\"y\":-0.8992236,\"z\":1.11083245}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.13795127,\"y\":-0.9054182,\"z\":0.9633301}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.09068157,\"y\":-0.0822636858,\"z\":1.68780029}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.687745869,\"y\":-0.0158052631,\"z\":1.587877}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.6215198,\"y\":-0.0733969659,\"z\":1.63481}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.86841327,\"y\":0.0196842924,\"z\":1.6320045}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.79738605,\"y\":0.03476982,\"z\":1.6234287}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"41673ab2.c9dfa4\"}}},\n                                                {\"id\":\"kinect-2\",\"key\":\"kinect-2\",\"value\":{\"rev\":\"2-720c6f755cecb1adf05684de2a33ca29\"},\"doc\":{\"_id\":\"kinect-2\",\"_rev\":\"2-720c6f755cecb1adf05684de2a33ca29\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":254,\"user\":[{\"id\":72057594038027980,\"leftHandState\":\"Unknown\",\"rightHandState\":\"Unknown\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.391252071,\"y\":-0.590972066,\"z\":1.757008}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.343322,\"y\":-0.326246,\"z\":1.63027561}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.2921939,\"y\":-0.06474853,\"z\":1.48913944}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.290868074,\"y\":0.127178282,\"z\":1.48828828}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.476069242,\"y\":-0.1604658,\"z\":1.52507687}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.529124141,\"y\":-0.371653855,\"z\":1.64130843}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.771871865,\"y\":-0.3417786,\"z\":1.60753}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.8136139,\"y\":-0.352340877,\"z\":1.5848496}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.124337278,\"y\":-0.166059837,\"z\":1.52422655}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0622654445,\"y\":-0.398975134,\"z\":1.541343}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.04592807,\"y\":-0.5121246,\"z\":1.31975722}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.03885459,\"y\":-0.5515658,\"z\":1.15737414}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.4598442,\"y\":-0.5734127,\"z\":1.71642244}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.2792876,\"y\":-0.562026262,\"z\":1.25342667}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.131687865,\"y\":-0.55861336,\"z\":0.880758762}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.118761726,\"y\":-0.581418455,\"z\":0.7335474}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.308636,\"y\":-0.5871918,\"z\":1.73442924}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.08081828,\"y\":-0.521892548,\"z\":1.24047554}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.444002271,\"y\":-0.7102524,\"z\":1.456731}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.501026034,\"y\":-0.7786366,\"z\":1.35816371}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.3054634,\"y\":-0.129545867,\"z\":1.5268594}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.855778933,\"y\":-0.359423965,\"z\":1.54199576}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.808121443,\"y\":-0.306045,\"z\":1.64072943}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0266367272,\"y\":-0.573588967,\"z\":1.12994576}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0303428285,\"y\":-0.507785,\"z\":1.134451}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"c6c7d658.26f418\"}}},\n                                                {\"id\":\"kinect-3\",\"key\":\"kinect-3\",\"value\":{\"rev\":\"2-5377618d80badb9878c5c0119e9e2558\"},\"doc\":{\"_id\":\"kinect-3\",\"_rev\":\"2-5377618d80badb9878c5c0119e9e2558\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":253,\"user\":[{\"id\":72057594038027980,\"leftHandState\":\"Unknown\",\"rightHandState\":\"Unknown\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.391252071,\"y\":-0.590972066,\"z\":1.757008}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.343322,\"y\":-0.326246,\"z\":1.63027561}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.2921939,\"y\":-0.06474853,\"z\":1.48913944}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.290868074,\"y\":0.127178282,\"z\":1.48828828}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.476069242,\"y\":-0.1604658,\"z\":1.52507687}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.529124141,\"y\":-0.371653855,\"z\":1.64130843}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.771871865,\"y\":-0.3417786,\"z\":1.60753}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.8136139,\"y\":-0.352340877,\"z\":1.5848496}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.124337278,\"y\":-0.166059837,\"z\":1.52422655}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0622654445,\"y\":-0.398975134,\"z\":1.541343}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.04592807,\"y\":-0.5121246,\"z\":1.31975722}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.03885459,\"y\":-0.5515658,\"z\":1.15737414}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.4598442,\"y\":-0.5734127,\"z\":1.71642244}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.2792876,\"y\":-0.562026262,\"z\":1.25342667}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.131687865,\"y\":-0.55861336,\"z\":0.880758762}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.118761726,\"y\":-0.581418455,\"z\":0.7335474}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.308636,\"y\":-0.5871918,\"z\":1.73442924}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.08081828,\"y\":-0.521892548,\"z\":1.24047554}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.444002271,\"y\":-0.7102524,\"z\":1.456731}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.501026034,\"y\":-0.7786366,\"z\":1.35816371}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.3054634,\"y\":-0.129545867,\"z\":1.5268594}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.855778933,\"y\":-0.359423965,\"z\":1.54199576}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.808121443,\"y\":-0.306045,\"z\":1.64072943}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0266367272,\"y\":-0.573588967,\"z\":1.12994576}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0303428285,\"y\":-0.507785,\"z\":1.134451}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"c6c7d658.26f418\"}}},\n                                                {\"id\":\"kinect-4\",\"key\":\"kinect-4\",\"value\":{\"rev\":\"2-555d32b4fe3ef52dc3796852aff13607\"},\"doc\":{\"_id\":\"kinect-4\",\"_rev\":\"2-555d32b4fe3ef52dc3796852aff13607\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":303,\"user\":[{\"id\":72057594038027980,\"leftHandState\":\"NotTracked\",\"rightHandState\":\"NotTracked\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.3178801,\"y\":-0.432778955,\"z\":0.9041537}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.3796743,\"y\":-0.140297711,\"z\":0.8903189}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.435401052,\"y\":0.1387746,\"z\":0.8519708}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.4630733,\"y\":0.308617443,\"z\":0.843066633}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.290380448,\"y\":-0.008027125,\"z\":0.8135206}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.246626332,\"y\":-0.1341853,\"z\":0.656459451}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.276694238,\"y\":-0.255983174,\"z\":0.4999975}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.24375312,\"y\":-0.1664692,\"z\":0.549245358}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.518926442,\"y\":0.0149932317,\"z\":0.84481746}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.5213023,\"y\":-0.1739886,\"z\":0.779669166}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.293936372,\"y\":-0.111587361,\"z\":0.652600467}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.253711015,\"y\":-0.128634423,\"z\":0.6149034}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.203781784,\"y\":-0.403953046,\"z\":0.8974074}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.379587173,\"y\":-0.491666019,\"z\":0.453613251}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.5364785,\"y\":-0.572087348,\"z\":0.06758298}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.5407355,\"y\":-0.5578854,\"z\":-0.058605507}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.4113332,\"y\":-0.4334432,\"z\":0.8520515}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.741531849,\"y\":-0.221606433,\"z\":0.5843717}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":1.03986347,\"y\":-0.04095484,\"z\":0.360785753}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":1.0499444,\"y\":-0.03046314,\"z\":0.230635747}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.4226354,\"y\":0.07146035,\"z\":0.864332855}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.256276876,\"y\":-0.129966587,\"z\":0.535178542}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.234579474,\"y\":-0.180972263,\"z\":0.507882357}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.2336323,\"y\":-0.150989532,\"z\":0.56554693}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.236447036,\"y\":-0.109807841,\"z\":0.64208}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"99fa37f.9811bc8\"}}},\n                                                {\"id\":\"kinect-5\",\"key\":\"kinect-5\",\"value\":{\"rev\":\"2-0ad750a872083a3b9be3d0ed34609caf\"},\"doc\":{\"_id\":\"kinect-5\",\"_rev\":\"2-0ad750a872083a3b9be3d0ed34609caf\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":311,\"user\":[{\"id\":72057594038027980,\"leftHandState\":\"Unknown\",\"rightHandState\":\"NotTracked\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.3119471,\"y\":-0.358030856,\"z\":1.02453423}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.398411542,\"y\":-0.112603962,\"z\":0.904076}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.4779317,\"y\":0.108163647,\"z\":0.764326}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.486197174,\"y\":0.282510817,\"z\":0.802779138}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.3261371,\"y\":0.0103357378,\"z\":0.744694769}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.2565344,\"y\":-0.128892541,\"z\":0.6090583}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.177638158,\"y\":-0.2666463,\"z\":0.8036632}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.167533144,\"y\":-0.307037264,\"z\":0.863978267}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.4799318,\"y\":0.0156675261,\"z\":0.7421323}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.5062351,\"y\":-0.176021919,\"z\":0.7002439}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.2695458,\"y\":-0.110999733,\"z\":0.592071235}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.267714173,\"y\":-0.100428089,\"z\":0.6065863}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.208710283,\"y\":-0.339778453,\"z\":1.01667571}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.269643962,\"y\":-0.5491275,\"z\":0.585772634}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.325780869,\"y\":-0.738627553,\"z\":0.211047247}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.3187795,\"y\":-0.7655726,\"z\":0.08945001}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.396420628,\"y\":-0.3541626,\"z\":0.9706357}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.349748939,\"y\":-0.5337144,\"z\":0.524212241}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.311397225,\"y\":-0.697247744,\"z\":0.133366928}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.298348218,\"y\":-0.7220385,\"z\":0.0134694278}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.459940642,\"y\":0.0582947731,\"z\":0.8027302}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.124358676,\"y\":-0.385728657,\"z\":0.8928969}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.15556775,\"y\":-0.238878876,\"z\":0.890941143}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.221605092,\"y\":-0.14702782,\"z\":0.526053131}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.221329361,\"y\":-0.148551151,\"z\":0.614900053}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"b6f73fcd.6f80b\"}}},\n                                                {\"id\":\"kinect-6\",\"key\":\"kinect-6\",\"value\":{\"rev\":\"2-1e80303a429ecc9db76cf876af63d5ab\"},\"doc\":{\"_id\":\"kinect-6\",\"_rev\":\"2-1e80303a429ecc9db76cf876af63d5ab\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":335,\"user\":[{\"id\":72057594038027980,\"leftHandState\":\"NotTracked\",\"rightHandState\":\"NotTracked\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.265961617,\"y\":-0.486076534,\"z\":1.18144727}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.296537727,\"y\":-0.2611547,\"z\":0.98058033}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.320925742,\"y\":-0.0372510329,\"z\":0.7661934}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.330633819,\"y\":-0.0100718634,\"z\":0.632773}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.20612891,\"y\":-0.143556416,\"z\":0.935139656}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.165211678,\"y\":-0.393804163,\"z\":0.847618043}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.217566818,\"y\":-0.181825176,\"z\":0.691934466}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.288479954,\"y\":-0.03432294,\"z\":0.54233}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.303606838,\"y\":-0.18131569,\"z\":0.980221868}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.317673266,\"y\":-0.330406249,\"z\":1.17162633}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.2751661,\"y\":-0.210138574,\"z\":0.9367737}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.3405324,\"y\":-0.07654711,\"z\":0.5323772}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.134806409,\"y\":-0.463413775,\"z\":1.18907166}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.169931725,\"y\":-0.5731885,\"z\":0.7220481}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.203354567,\"y\":-0.67813,\"z\":0.312164724}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.207557246,\"y\":-0.724079549,\"z\":0.197648764}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.380892128,\"y\":-0.487298071,\"z\":1.10686421}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.3144185,\"y\":-0.648826659,\"z\":0.6593283}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.2585899,\"y\":-0.799445868,\"z\":0.26803}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.2562045,\"y\":-0.8472992,\"z\":0.15844284}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.316129982,\"y\":-0.09273122,\"z\":0.8221623}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.284653664,\"y\":0.04399806,\"z\":0.510789156}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.3269233,\"y\":-0.06517282,\"z\":0.5125454}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.339210272,\"y\":-0.0549554974,\"z\":0.516886353}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.337268323,\"y\":-0.0515884273,\"z\":0.506999969}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"5cdef023.36bf4\"}}},\n                                                {\"id\":\"kinect-7\",\"key\":\"kinect-7\",\"value\":{\"rev\":\"2-96f3768bbdf0a47f72466672a660a54d\"},\"doc\":{\"_id\":\"kinect-7\",\"_rev\":\"2-96f3768bbdf0a47f72466672a660a54d\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":953,\"user\":[{\"id\":72057594038028960,\"leftHandState\":\"Lasso\",\"rightHandState\":\"Unknown\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.02101608,\"y\":-0.498825163,\"z\":1.30443358}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.00257711275,\"y\":-0.225043312,\"z\":1.29813063}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0251534078,\"y\":0.0406156443,\"z\":1.27612245}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0215448551,\"y\":0.218935564,\"z\":1.3102473}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.204486057,\"y\":-0.09184552,\"z\":1.29463446}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.380942076,\"y\":-0.2199422,\"z\":1.35875654}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.6287577,\"y\":-0.191828117,\"z\":1.36783159}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.710572243,\"y\":-0.213473067,\"z\":1.37547421}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.1925073,\"y\":-0.0702038258,\"z\":1.28341794}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.376511633,\"y\":-0.213787585,\"z\":1.30516911}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.488134533,\"y\":-0.168860421,\"z\":1.12343121}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.5227141,\"y\":-0.159433126,\"z\":1.05443037}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.07540136,\"y\":-0.4897101,\"z\":1.28657651}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.07693293,\"y\":-0.5177663,\"z\":0.881348848}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.080246754,\"y\":-0.5599055,\"z\":0.44679454}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.0799803138,\"y\":-0.534492,\"z\":0.3098339}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.11683622,\"y\":-0.485384464,\"z\":1.2626828}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.29355076,\"y\":-0.368377775,\"z\":0.9858554}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.10251227,\"y\":-0.6958626,\"z\":0.803645134}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.07643765,\"y\":-0.7035758,\"z\":0.6682204}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0196990669,\"y\":-0.0245825462,\"z\":1.284029}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.8039816,\"y\":-0.213396475,\"z\":1.42118967}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.6991661,\"y\":-0.1782496,\"z\":1.38625}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.552793562,\"y\":-0.16981107,\"z\":0.986146748}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.5464447,\"y\":-0.179183632,\"z\":1.05118191}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"4edad795.99d388\"}}},\n                                                {\"id\":\"kinect-8\",\"key\":\"kinect-8\",\"value\":{\"rev\":\"2-8dc36a1770858910e5426ffb18081ecd\"},\"doc\":{\"_id\":\"kinect-8\",\"_rev\":\"2-8dc36a1770858910e5426ffb18081ecd\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":1305,\"user\":[{\"id\":72057594038029380,\"leftHandState\":\"Open\",\"rightHandState\":\"Open\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0846670344,\"y\":-0.6187513,\"z\":1.84772277}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0761903152,\"y\":-0.331005216,\"z\":1.87327874}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0658792555,\"y\":-0.05008423,\"z\":1.88331389}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.07780697,\"y\":0.125866219,\"z\":1.91723132}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.257629037,\"y\":-0.177537933,\"z\":1.84132755}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.454603672,\"y\":-0.1654441,\"z\":1.6943804}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.41542092,\"y\":0.0792644843,\"z\":1.61087143}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.402908266,\"y\":0.141764462,\"z\":1.60840893}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.140721962,\"y\":-0.174160868,\"z\":1.88992012}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.362452626,\"y\":-0.163466141,\"z\":1.83752847}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.381904244,\"y\":0.05755538,\"z\":1.77129984}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.380864352,\"y\":0.1295367,\"z\":1.78102124}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.169249788,\"y\":-0.604462147,\"z\":1.80868912}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.114964724,\"y\":-0.604952455,\"z\":1.42988825}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.124231108,\"y\":-0.9872827,\"z\":1.26826131}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.110002235,\"y\":-0.992714345,\"z\":1.11924052}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.00307946652,\"y\":-0.609963238,\"z\":1.81856072}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.152962446,\"y\":-0.595289767,\"z\":1.478713}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.0393508524,\"y\":-0.934360743,\"z\":1.26036131}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.0380474553,\"y\":-0.931509733,\"z\":1.10859561}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0686101839,\"y\":-0.119349405,\"z\":1.88339019}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.3938037,\"y\":0.222491622,\"z\":1.60940421}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.345046341,\"y\":0.129321188,\"z\":1.55228651}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.37603578,\"y\":0.208891317,\"z\":1.79850066}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.420911461,\"y\":0.159018055,\"z\":1.77327788}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"44a953ee.1ea69c\"}}},\n                                                {\"id\":\"kinect-9\",\"key\":\"kinect-9\",\"value\":{\"rev\":\"2-508b774747c084362d3a59343b601377\"},\"doc\":{\"_id\":\"kinect-9\",\"_rev\":\"2-508b774747c084362d3a59343b601377\",\"data\":{\"topic\":\"iot-2/type/kinectDeviceType/id/kinectDeviceGlobal01/evt/kinectEvent/fmt/json\",\"payload\":{\"packetID\":1335,\"user\":[{\"id\":72057594038029380,\"leftHandState\":\"Open\",\"rightHandState\":\"Open\",\"userId\":\"\",\"bodyParts\":[{\"name\":\"SpineBase\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.084364675,\"y\":-0.6112263,\"z\":1.85216415}]},{\"name\":\"SpineMid\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.07364164,\"y\":-0.32706973,\"z\":1.87527275}]},{\"name\":\"Neck\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.0623036921,\"y\":-0.04939754,\"z\":1.883721}]},{\"name\":\"Head\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.07597565,\"y\":0.1257916,\"z\":1.91648388}]},{\"name\":\"ShoulderLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.2558345,\"y\":-0.177034512,\"z\":1.84217322}]},{\"name\":\"ElbowLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.452038735,\"y\":-0.161113739,\"z\":1.69707346}]},{\"name\":\"WristLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.4082148,\"y\":0.08103048,\"z\":1.61184669}]},{\"name\":\"HandLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.400991559,\"y\":0.13939786,\"z\":1.6159339}]},{\"name\":\"ShoulderRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.144838065,\"y\":-0.173122659,\"z\":1.89165318}]},{\"name\":\"ElbowRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.368305862,\"y\":-0.15705739,\"z\":1.84787357}]},{\"name\":\"WristRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.3861461,\"y\":0.062443085,\"z\":1.78675115}]},{\"name\":\"HandRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.378822327,\"y\":0.138576478,\"z\":1.80083513}]},{\"name\":\"HipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.168106765,\"y\":-0.596790254,\"z\":1.81369424}]},{\"name\":\"KneeLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.114429243,\"y\":-0.604073763,\"z\":1.42883015}]},{\"name\":\"AnkleLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.131219521,\"y\":-0.987329,\"z\":1.27684593}]},{\"name\":\"FootLeft\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":-0.117498152,\"y\":-0.9937446,\"z\":1.12835658}]},{\"name\":\"HipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.00249907863,\"y\":-0.603029132,\"z\":1.82228017}]},{\"name\":\"KneeRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.15256083,\"y\":-0.5947672,\"z\":1.4770596}]},{\"name\":\"AnkleRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.0349245742,\"y\":-0.9353429,\"z\":1.26614475}]},{\"name\":\"FootRight\",\"isPresent\":true,\"isTracked\":false,\"positions\":[{\"x\":0.0336598977,\"y\":-0.9333268,\"z\":1.11490369}]},{\"name\":\"SpineShoulder\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.06524258,\"y\":-0.117905483,\"z\":1.88410032}]},{\"name\":\"HandTipLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.3939788,\"y\":0.212973639,\"z\":1.60561121}]},{\"name\":\"ThumbLeft\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":-0.344095379,\"y\":0.1269714,\"z\":1.55645919}]},{\"name\":\"HandTipRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.376823425,\"y\":0.217599317,\"z\":1.82170093}]},{\"name\":\"ThumbRight\",\"isPresent\":true,\"isTracked\":true,\"positions\":[{\"x\":0.414657116,\"y\":0.168433383,\"z\":1.79676962}]}]}]},\"deviceId\":\"kinectDeviceGlobal01\",\"deviceType\":\"kinectDeviceType\",\"eventType\":\"kinectEvent\",\"format\":\"json\",\"_msgid\":\"2d9a0aba.758ec6\"}}},\n                                                {\"id\":\"kinect-size\",\"key\":\"kinect-size\",\"value\":{\"rev\":\"3-e2be90fd007434e66d910f9643cb1827\"},\"doc\":{\"_id\":\"kinect-size\",\"_rev\":\"3-e2be90fd007434e66d910f9643cb1827\",\"kinectSize\":20}},\n                                            ] \n                                                \n                                    }\n                    }\n            }\n        )            \n    };\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 339.0000305175781,
        "y": 160.8572039604187,
        "wires": [
            [
                "20e5687a.752848",
                "e36d87fc.8cc3a8"
            ]
        ]
    },
    {
        "id": "20e5687a.752848",
        "type": "ibmiot out",
        "z": "d5823b29.502498",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "evt",
        "deviceId": "KinectMockID",
        "deviceType": "device type",
        "eventCommandType": "update",
        "format": "json",
        "data": "MQTT packet",
        "qos": 0,
        "name": "IBM IoT output",
        "service": "registered",
        "x": 584.8571395874023,
        "y": 160.4286847114563,
        "wires": []
    },
    {
        "id": "e3649aa8.d36a08",
        "type": "ibmiot in",
        "z": "d5823b29.502498",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "+",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT input",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 117.7142562866211,
        "y": 401.38097953796387,
        "wires": [
            [
                "808db435.693ac8",
                "b03faf2e.54e96"
            ]
        ]
    },
    {
        "id": "b03faf2e.54e96",
        "type": "debug",
        "z": "d5823b29.502498",
        "name": "Debug IoT input",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 340.00000762939453,
        "y": 262.8571434020996,
        "wires": []
    },
    {
        "id": "71d9aa6a.7a93c4",
        "type": "debug",
        "z": "d5823b29.502498",
        "name": "Message Error Packet",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 795.7142639160156,
        "y": 336.6666650772095,
        "wires": []
    },
    {
        "id": "e36d87fc.8cc3a8",
        "type": "debug",
        "z": "d5823b29.502498",
        "name": "Debug IoT output",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 605.7143859863281,
        "y": 98.09531211853027,
        "wires": []
    },
    {
        "id": "b682fec9.95d9",
        "type": "ui_group",
        "z": "d5823b29.502498",
        "name": "Hands",
        "tab": "dd895018.4966d",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "dd895018.4966d",
        "type": "ui_tab",
        "z": "d5823b29.502498",
        "name": "Home",
        "icon": "dashboard"
    }
]
